/*@media screen and (max-width: 1000px) {
#main-nav {
  display: none;
}

#main-nav-moble  {
  display: block;
  width: 100%;
  background-color: white;
  height: 100px;
  margin: 0px;
  text-align: center;
  position: fixed;

  box-shadow: 0px 6px 6px 0px rgb(25,34,40);
  top: 0px;
  z-index: 1;
}
}*/

body {
  background-color: #192128;
}

th, td  {
  text-align: left;
}

.condensed-message  {
  margin: auto;
  margin-top: 200px;
  width: 60%;
}

.view-message {
  background-color: white;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;

}

.view-message:hover {
  cursor: pointer;
}

.messages {

  margin: auto;


}

.colmn  {
}

.mess-header  {

}

.form-label {
}

.mess-cont  {
  padding: 10px 10px 10px 10px;
  margin-top: 0px;
}



.mess-cont > p {
    font-family: 'Open Sans', sans-serif;
}

.mess-sender  {
  font-size: 20px;
}

.mess-sub {
  display: inline-block;
}
