/*@media screen and (max-width: 1000px) {
#main-nav {
  display: none;
}

#main-nav-moble  {
  display: block;
  width: 100%;
  background-color: white;
  height: 100px;
  margin: 0px;
  text-align: center;
  position: fixed;

  box-shadow: 0px 6px 6px 0px rgb(25,34,40);
  top: 0px;
  z-index: 1;
}
}*/

body {
  background-color: #192128;
}

.reply-form {
  display: none;
}

.reply-form > input {
  width: 70%;
}



th, td  {
  text-align: left;

}

td {
  padding-bottom: 0px !important;
  vertical-align: baseline;
  padding-right: 5px;
}

td.columnA  {
  width: 40%;
}
td.columnB  {
  width: 25%;
}

td.columnC  {
  width: 35%;
}


.message-header {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.condensed-message  {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10px;
  width: 60%;
  table-layout: fixed;
  white-space: nowrap;


}



.view-message {
  margin: auto;
  background-color: white;
  width: 60%;
  table-layout: fixed;
  margin-bottom: 2px;

}

.view-message:hover {
  cursor: pointer;
}

.messages {
 width: 100%;
  margin: auto;


}

.colmn  {
}

.mess-header  {

}

.form-label {
}

.mess-cont  {
  padding: 10px 10px 0px 10px;
  margin-top: 0px;
}



.mess-cont > p {
    font-family: 'Open Sans', sans-serif;
}

.mess-sender  {
  font-size: 20px;
}


#subject  {
  height: 30px;
  padding-left: 20px;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
}

#sub-row  {
  /*text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;*/
  margin-right: 20px;
}

.message-sub  {
  font-size: 16px;
  margin: 0px;
  padding-right: 5px;

}

.mess-sub {

  margin-right: 10px;
  /*text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: baseline;*/
}

.message-sub, .mess-sub {
  display: inline-block;
}

.mess-sender, .mess-sub, .mess-time {
  margin-bottom: 0px;
}


#subject-row {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}


#sender-info > p {
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
}

.modal-dialog  {
  width: 70%;
}


#sender-name  {
  font-size: 24px !important;
  font-weight: bold;
}
#mes-full {
  padding-top: 10px;
}

#form-submit  {
  width: 50px;
}

textarea  {
  box-sizing: border-box;
  width: 90%;
}
